.main-body{
    margin-left: 20%;
    width: 50%;
    background-color: rgb(245, 245, 36);
    color: black;
    display: flex;
    flex-direction: row;
    border: solid 2px black;
    margin-top: 5px;
}
.left-part{
    width: 80%;
}
.right-part{
    width: 20%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.icons{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    justify-content: space-evenly;
    width: 50%;
    height: 10%;
    color: red;
}